@import '../bower/bootstrap/less/variables.less';
@import '../bower/bootstrap/less/glyphicons.less';
@import '../bower/bootstrap/less/mixins.less';

.jigoshop {
  @import '../bower/bootstrap/less/normalize.less';
  @import '../bower/bootstrap/less/scaffolding.less';

  .glyphicon-remove {
    color: @btn-danger-bg;
  }
  a.badge[data-toggle=tooltip] {
    text-decoration: none;
    cursor: default;
  }
  .table tbody>tr>td.vert-align {
    vertical-align: middle;
  }
  a.select2-search-choice-close {
    background: url("../images/select2.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    top: 3px;
  }
  .nav .not-active, .not-active {
    display: none;
  }
  .payment-logo {
    height: 30px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
