@import '../bower/bootstrap/less/variables.less';

.jigoshop {
  @import '../bower/bootstrap/less/normalize.less';
  @import '../bower/bootstrap/less/glyphicons.less';

  .glyphicon-remove {
    color: @btn-danger-bg;
  }
  a.badge[data-toggle=tooltip] {
    text-decoration: none;
    cursor: default;
  }
  .table tbody>tr>td.vert-align {
    vertical-align: middle;
  }
  a.select2-search-choice-close {
    background: url("../images/select2.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    top: 3px;
  }
  .nav .not-active, .not-active {
    display: none;
  }
}
