.jigoshop {
  span.on-sale {
    background: green;
    color: #ffffff;
    min-height: 32px;
    min-width: 32px;
    padding: 4px;
    font-size: 12px;
    position: absolute;
    text-align: center;
    line-height: 32px;
    top: 0;
    left: -15px;
    margin: -6px 0 0 0;
    border-radius: 20px;
  }
}
