@import '../../bower/bootstrap/less/variables.less';
@import '../../bower/bootstrap/less/mixins.less';

.jigoshop {
  table, th, td {
    border: 0;
  }

  @import '../../bower/bootstrap/less/alerts.less';
  @import '../../bower/bootstrap/less/tables.less';
  @import '../../bower/bootstrap/less/utilities.less';

  #cart {
    td {
      vertical-align: middle;
    }
    tfoot button {
      text-transform: none;
    }
  }
}
