@import '../../bower/bootstrap/less/variables.less';
@import '../../bower/bootstrap/less/mixins.less';

.jigoshop {
  table, th, td {
    border: 0;
  }

  @import '../../bower/bootstrap/less/buttons.less';
  @import '../../bower/bootstrap/less/panels.less';
  @import '../../bower/bootstrap/less/tables.less';
  @import '../../bower/bootstrap/less/type.less';

  #cart {
    td {
      vertical-align: middle;
    }
    tfoot button {
      text-transform: none;
    }

    &.alert a.btn {
      margin-top: @padding-base-horizontal;
    }

    .btn {
      text-transform: none;
    }

    #cart-collaterals {
      .clearfix();

      #cart-totals {
        width: 50%;

        th {
          text-align: right;
        }
      }
    }
  }
}
