@import '../../bower/bootstrap/less/variables.less';
@import '../../bower/bootstrap/less/mixins.less';

.jigoshop {
  @import '../../bower/bootstrap/less/scaffolding.less';
  @import '../../bower/bootstrap/less/buttons.less';
  @import '../../bower/bootstrap/less/grid.less';
  @import '../../bower/bootstrap/less/forms.less';
  @import '../../bower/bootstrap/less/list-group.less';
  @import '../../bower/bootstrap/less/panels.less';
  @import '../../bower/bootstrap/less/tables.less';
  @import '../../bower/bootstrap/less/type.less';
  @import '../../bower/bootstrap/less/wells.less';

  form {
    margin: 0 15px;

    table, th, td {
      border: 0;
    }

    .list-group {
      margin-left: 0;
      margin-bottom: 8px;
    }
    .list-group-item label {
      margin: 0;

      input {
        vertical-align: sub;
        margin-right: @padding-base-vertical;
      }
    }
    #totals th {
      text-align: right;
      width: 20%;
    }

    .different_shipping_field {
      margin-bottom: 0;
    }

    button {
      text-transform: none;
    }

    textarea.form-control {
      height: auto;
    }

    #payment-methods li > div {
      margin: @padding-base-horizontal/2 0;
      display: none;

      &.well {
        min-height: 0;
      }
    }

    .variation-data {
      margin: @padding-large-vertical/2 0 0 0;

      dt {
        width: auto;
      }
      dd {
        margin: 0 0 0 @padding-large-horizontal/2;
        float: left;
      }
    }

    &#jigoshop-login-form {
      margin-bottom: 2*@padding-large-vertical;
    }
  }

  #shipping-address, #registration-form {
    h4 {
      padding: 0 @grid-gutter-width;
    }
  }
}
