@order-new-color: #cbe600;
@order-pending-color: #e66f00;
@order-processing-color: #2184c2;
@order-completed-color: green;
@order-on-hold-color: red;
@order-cancelled-color: #dfdfdf; // TODO: Improve this color as it's not visible at all
@order-refunded-color: #cccccc;

.column-title {
  width: 120px;

  time {
    color: #999999;
  }
}

.column-customer {
  width: 140px;
}
.column-status {
  width: 80px;
  text-align: center;

  mark {
    display: block;
    text-align: left;
    text-indent: -9999px;
    background: #ffffff;
    height: 16px;
    width: 16px;
    background: #ffffff;
    -webkit-box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 1px auto;
    font-size: 9px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all ease-in-out .1s;
  }
  mark.jigoshop-new {
    background: @order-new-color;
  }
  mark.jigoshop-pending {
    background: @order-pending-color;
  }
  mark.jigoshop-completed {
    background: @order-completed-color;
  }
  mark.jigoshop-on-hold {
    background: @order-on-hold-color;
  }
  mark.jigoshop-cancelled {
    background: @order-cancelled-color;
  }
  mark.jigoshop-processing {
    background: @order-processing-color;
  }
  mark.jigoshop-refunded {
    background: @order-refunded-color;
  }
  mark:hover {
    text-indent: 0;
    width: auto;
    text-align: center;
  }
}

ul.subsubsub {
  li.jigoshop-new a {
    color: @order-new-color;
  }
  li.jigoshop-pending a {
    color: @order-pending-color;
  }
  li.jigoshop-processing a {
    color: @order-processing-color;
  }
  li.jigoshop-completed a {
    color: @order-completed-color;
  }
  li.jigoshop-on-hold a {
    color: @order-on-hold-color;
  }
  li.jigoshop-cancelled a {
    color: @order-cancelled-color;
  }
  li.jigoshop-refunded a {
    color: @order-refunded-color;
  }
}
