#toplevel_page_jigoshop .toplevel_page_jigoshop .wp-menu-image:before,
#toplevel_page_jigoshop ul.wp-submenu a:before {
	background: url(../images/jigo-ico.png) no-repeat;
	content: "";
	width: 19px;
	height: 15px;
	position: absolute;
	left: 10px;
	top: 10px;
	text-indent: -9999999px;
	padding: 0;
}
#toplevel_page_jigoshop ul.wp-submenu a {
	padding-left: 38px !important;
	position: relative;
}
#toplevel_page_jigoshop ul.wp-submenu a:before{
	background-position: 0 -22px;
	width: 13px;
	height: 13px;
	left: 13px;
	top: 7px;
}
#toplevel_page_jigoshop ul.wp-submenu .wp-first-item +li a:before {
	background-position: 0 -42px;
}
#toplevel_page_jigoshop ul.wp-submenu .wp-first-item +li+li a:before {
	background-position: 0 -61px;
}
#toplevel_page_jigoshop ul.wp-submenu .wp-first-item +li+li+li a:before {
	content: "\f466";
	font-family: dashicons;
	background: none;
	text-indent: 0;
	color: #fff;
	font-size: 15px;
	margin: -2px 0 0 -1px;
}
#toplevel_page_jigoshop ul.wp-submenu .wp-first-item +li+li+li+li a:before {
	background-position: 0 -80px;
}
#toplevel_page_jigoshop ul.wp-submenu .wp-first-item +li+li+li+li+li a:before {
	background-position: 0 -80px;
}
#toplevel_page_jigoshop ul.wp-submenu .wp-first-item +li+li+li+li+li+li a:before {
	background-position: 0 -80px;
}
#toplevel_page_jigoshop ul.wp-submenu .wp-first-item +li+li+li+li+li+li+li a:before {
	background-position: 0 -99px;
}
#toplevel_page_jigoshop ul.wp-submenu .wp-first-item +li+li+li+li+li+li+li+li a:before {
	background-position: 0 -80px;
}
#toplevel_page_jigoshop ul.wp-submenu li:last-child a:before {
	background-position: -54px -133px !important;
}
div.pages ul.pages li a {
	position: relative;
}
div.pages ul.pages li a:before {
	background: url(../images/jigo-ico.png) -27px -21px no-repeat;
	content: "";
	width: 19px;
	height: 19px;
	position: absolute;
	left: 13px;
	top: 14px;
	text-indent: -9999999px;
	padding: 0;
}
div.pages ul.pages li +li a:before {
	background-position: -27px -40px;
}
div.pages ul.pages li +li+li a:before {
	background-position: -27px -63px;
}
div.pages ul.pages li +li+li+li a:before {
	content: "\f466";
	font-family: dashicons;
	background: none;
	text-indent: 0;
	color: #fff;
	font-size: 22px;
	margin: -3px 0 0 -2px;
}
div.pages ul.pages li +li+li+li+li a:before {
	background: url(../images/jigo-ico.png) -27px -83px no-repeat;
	content: "";
	width: 19px;
	height: 19px;
	position: absolute;
	left: 13px;
	top: 14px;
	text-indent: -9999999px;
	padding: 0;
	margin: 0;
}
div.pages ul.pages li +li+li+li+li+li a:before {
	background-position: -27px -83px;
}
div.pages ul.pages li +li+li+li+li+li+li a:before {
	background-position: -27px -83px;
}
div.pages ul.pages li +li+li+li+li+li+li+li a:before {
	background-position: -27px -103px;
}
div.pages ul.pages li +li+li+li+li+li+li+li+li a:before {
	background-position: -27px -83px;
}
div.pages ul.pages li:last-child a:before {
	background-position: -27px -130px !important;
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default > li#wp-admin-bar-jigoshop > a:before {
	content: ' ';
	display: block;
	background-image: url('../images/jigo-ico.png') !important;
	width: 19px;
	height: 14px;
	margin-top: 9px;
}
