//  ALERT BOX COLORS (message, info, warning, error)
//  ---------------------------------------------------
@message:			#cfc;				//green
@info:   			#9cf;				//blue
@warning:			#ffc;				//yellow
@error:  			#fcc;				//red

//	YOUR SITE'S COLOR SCHEME
//	---------------------------------------------------
@textColor:			#333;
@buttonColor:		#008000;

//      	GRAYSCALE - USEFUL FOR WIREFRAMING
//      	---------------------------------------------------
@white:				#ffffff;
@gray5:				darken(@white, 5%);		// #f2f2f2
@gray10:			darken(@white, 10%);	// #e5e5e5
@gray15:			darken(@white, 15%);	// #d9d9d9
@gray20:			darken(@white, 20%);	// @cccccc
@gray25:			darken(@white, 25%);	// #bfbfbf
@gray30:			darken(@white, 30%);	// #b3b3b3
@gray35:			darken(@white, 35%);	// #a6a6a6
@gray40:			darken(@white, 40%);	// #999999
@gray45:			darken(@white, 45%);	// #8c8c8c
@gray50:			darken(@white, 50%);	// #808080
@gray55:			darken(@white, 55%);	// #737373
@gray60:			darken(@white, 60%);	// #666666
@gray65:			darken(@white, 65%);	// #595959
@gray70:			darken(@white, 70%);	// #4d4d4d
@gray75:			darken(@white, 75%);	// #404040
@gray80:			darken(@white, 80%);	// #333333
@gray85:			darken(@white, 85%);	// #262626
@gray90:			darken(@white, 90%);	// #1a1a1a
@gray95:			darken(@white, 95%);	// #0d0d0d
@black: 			                    	#000000;